<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.asuper.aidldemo"
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:name="App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="aidl"
        android:supportsRtl="true"
        android:hardwareAccelerated="true"
        android:theme="@style/Theme.AppCompat.NoActionBar"
        tools:replace="android:theme, android:label">
        <activity
            android:name=".kotiln.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".actitvity.RecActivity"
                  android:launchMode="singleTask"/>

        <activity android:name=".view.TriActivity"
                  android:screenOrientation="portrait"/>

        <activity android:name=".actitvity.ToolBarActivity"
                  android:screenOrientation="portrait"/>

        <service android:name=".MyService"
                 android:process=":remote">
            <intent-filter>
                <action android:name="com.asuper.aidldemo.MyService"></action>
            </intent-filter>
        </service>

        <service android:name=".service.InnerService"/>

        <meta-data
            android:name="TINKER_ID"
            android:value="tinker_id_100" />
        <service android:name=".music.MusicService"/>
    </application>


    <!-- 挂载/卸载sd卡权限 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"
        tools:ignore="ProtectedPermissions" />
    <!-- 写入外设的权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 网络权限 -->
    <uses-permission android:name="android.permission.INTERNET"/>

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>

</manifest>